<h1 class="text-center text-5xl text-orange-500 my-20 font-bold">My Blog</h1>
<% @blog_posts.each do |blog_post| %>
    <div class="flex h-full group" >    
        <div class="w-1/3 pr-3 h-full">
            <%= video_tag url_for(blog_post.video), controls: true, class:"w-full h-full rounded-lg" if blog_post.video.present? %>
        </div>
        <div class="w-2/3 h-full">
            <h2> <%= link_to blog_post.title, blog_post, class: "text-2xl font-medium group-hover:text-red-600" %> </h2>

            <% if blog_post.published_at.present? %>
                <div class="text-sm text-gray-400">
                <%= blog_post.published_at.strftime('%b %d, %Y')%>
                </div>
            <% end %>
            <div class = "my-3">
                <%= truncate(strip_tags(blog_post.content.to_s),  length: 200) %>
            </div>
            
            <% if blog_post.draft? %>
                <div class = "p-2 rounded bg-gray-100 text-gray-900 my-3">Draft</div>
            <% elsif blog_post.scheduled? %>
                <div class = "p-2 rounded bg-blue-100 text-blue-900 my-3">Schedule</div>
            <% end %>
        </div>
    </div>
    <hr class="my-8 border-t border-gray-200">
<% end %>    

<% if @pagy.count > @pagy.items%>
<div class="flex justify-center my-16">
    <%== pagy_nav(@pagy) %>
</div>
<%end%>