<h1>My Blog</h1>

<% @blog_posts.each do |blog_post| %>
    <div>
        <h2> <%= link_to blog_post.title, blog_post %> </h2>
        <% if blog_post.draft? %>
            <div class = "p-2 rounded bg-gray-100 text-gray-900">Draft</div>
        <% elsif blog_post.scheduled? %>
            <div class = "p-2 rounded bg-blue-100 text-blue-900">Schedule</div>
        <% end %>

        <% if blog_post.published_at.present? %>
            <%= blog_post.published_at.strftime('%b %d, %Y')%>
        <% end %>
        <%= blog_post.content %>
        <% if blog_post.cover_image.present? %>
            <%= image_tag blog_post.cover_image, class: "w-40 h-40 object-cover mx-auto" %>
        <% end %>
    </div>
    <hr class="my-4 border-t border-gray-300">
<% end %>    

<% if @pagy.count > @pagy.items%>
<div class = "my-16">
    <%== pagy_nav(@pagy) %>
</div>
<%end%>