<!DOCTYPE html>
<html>
  <head>
    <title>NewBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render partial: "shared/navbar"%>
    <div class = 'prose mx-auto' >
      <div role="alert" class="rounded border-s-4 border-green-500 bg-green-50"> 
        <p class="notice"><%= notice %></p>
      </div>

      <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50">
        <p class="alert"><%= alert %></p>  
      </div>
      <%= yield %>
    </div>
  </body>
</html>
